# dependencies
node_modules/

# next / vinext
.next/
.vinext/
.cloudflare/
dist/
out/

# env & secrets
.env
.env.*
!.env.example

# debug
npm-debug.log*
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
